[Unit]
Description=Lock screen before suspend
After=sleep.target

[Service]
Type=simple
ExecStart=/home/oskar/.local/bin/awesome-owner "lock.lock()"

[Install]
WantedBy=sleep.target

